node-red/app/flows/flows.json
[
    {
        "id": "3de292d6.8a219e",
        "type": "tab",
        "label": "Coffee roaster",
        "disabled": false,
        "info": ""
    },
    {
        "id": "77d95a54.f2b364",
        "type": "debug",
        "z": "3de292d6.8a219e",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "x": 570,
        "y": 40,
        "wires": []
    },
    {
        "id": "324de882.178998",
        "type": "redis-in",
        "z": "3de292d6.8a219e",
        "server": "39113e59.d16132",
        "command": "subscribe",
        "name": "set.heat",
        "topic": "set.heat",
        "timeout": 0,
        "x": 170,
        "y": 80,
        "wires": [
            [
                "77d95a54.f2b364",
                "e137997d.9a27a8",
                "f6fdb38d.4c291"
            ]
        ]
    },
    {
        "id": "e2810af5.3d35c8",
        "type": "redis-out",
        "z": "3de292d6.8a219e",
        "server": "39113e59.d16132",
        "command": "lpush",
        "name": "log.heat",
        "topic": "log.heat",
        "x": 820,
        "y": 220,
        "wires": []
    },
    {
        "id": "e137997d.9a27a8",
        "type": "function",
        "z": "3de292d6.8a219e",
        "name": "Create log",
        "func": "var time_stamp = Math.floor(Date.now());\nmsg.payload = {'timestamp': time_stamp, 'value': msg.payload};\nmsg.topic = 'log.' + msg.topic.replace('set.', '')\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 570,
        "y": 220,
        "wires": [
            [
                "e2810af5.3d35c8"
            ]
        ]
    },
    {
        "id": "f6fdb38d.4c291",
        "type": "rpi-gpio out",
        "z": "3de292d6.8a219e",
        "name": "SSR control",
        "pin": "7",
        "set": false,
        "level": "0",
        "freq": "1",
        "out": "pwm",
        "x": 570,
        "y": 120,
        "wires": []
    },
    {
        "id": "41b73eac.481a6",
        "type": "inject",
        "z": "3de292d6.8a219e",
        "name": "temperature",
        "topic": "temperature",
        "payload": "21",
        "payloadType": "num",
        "repeat": "1",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "x": 130,
        "y": 240,
        "wires": [
            [
                "2b2a9af9.5a7e26",
                "3153bc65.fe2654"
            ]
        ]
    },
    {
        "id": "afe6c4ca.200268",
        "type": "redis-out",
        "z": "3de292d6.8a219e",
        "server": "39113e59.d16132",
        "command": "lpush",
        "name": "log.temperature",
        "topic": "log.temperature",
        "x": 800,
        "y": 280,
        "wires": []
    },
    {
        "id": "ef63d82c.eb0ce8",
        "type": "function",
        "z": "3de292d6.8a219e",
        "name": "Create log",
        "func": "var time_stamp = Math.floor(Date.now());\nmsg.payload = {'timestamp': time_stamp, 'value': msg.payload};\nmsg.topic = 'log.' + msg.topic.replace('set.', '')\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 570,
        "y": 280,
        "wires": [
            [
                "afe6c4ca.200268"
            ]
        ]
    },
    {
        "id": "2b2a9af9.5a7e26",
        "type": "delay",
        "z": "3de292d6.8a219e",
        "name": "Sample rate",
        "pauseType": "rate",
        "timeout": "5",
        "timeoutUnits": "seconds",
        "rate": "30",
        "nbRateUnits": "1",
        "rateUnits": "minute",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": true,
        "x": 350,
        "y": 240,
        "wires": [
            [
                "ef63d82c.eb0ce8"
            ]
        ]
    },
    {
        "id": "3153bc65.fe2654",
        "type": "join",
        "z": "3de292d6.8a219e",
        "name": "10s group",
        "mode": "custom",
        "build": "array",
        "property": "payload",
        "propertyType": "msg",
        "key": "topic",
        "joiner": "\\n",
        "joinerType": "str",
        "accumulate": false,
        "timeout": "10",
        "count": "",
        "reduceRight": false,
        "reduceExp": "($I = 0) ? payload : (($I = $N - 1) ? (payload - $A) : $A)",
        "reduceInit": "",
        "reduceInitType": "num",
        "reduceFixup": "",
        "x": 180,
        "y": 340,
        "wires": [
            [
                "ab6e40c4.c44b4"
            ]
        ]
    },
    {
        "id": "ab6e40c4.c44b4",
        "type": "function",
        "z": "3de292d6.8a219e",
        "name": "Rate of change",
        "func": "var last = msg.payload[msg.payload.length - 1];\nvar first = msg.payload[0];\n// Rate of change in degrees per minute\nmsg.payload = (last - first) * 6;\nmsg.topic = msg.topic + '_roc'\nreturn msg",
        "outputs": 1,
        "noerr": 0,
        "x": 340,
        "y": 400,
        "wires": [
            [
                "4c473704.876bc8"
            ]
        ]
    },
    {
        "id": "4c473704.876bc8",
        "type": "function",
        "z": "3de292d6.8a219e",
        "name": "Create log",
        "func": "var time_stamp = Math.floor(Date.now());\nmsg.payload = {'timestamp': time_stamp, 'value': msg.payload};\nmsg.topic = 'log.' + msg.topic.replace('set.', '')\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 570,
        "y": 340,
        "wires": [
            [
                "e2a7e869.5163f8"
            ]
        ]
    },
    {
        "id": "e2a7e869.5163f8",
        "type": "redis-out",
        "z": "3de292d6.8a219e",
        "server": "39113e59.d16132",
        "command": "lpush",
        "name": "log.temperature_roc",
        "topic": "log.temperature_roc",
        "x": 780,
        "y": 340,
        "wires": []
    },
    {
        "id": "39113e59.d16132",
        "type": "redis-config",
        "z": "",
        "host": "redis",
        "port": "{{REDIS_PORT}}",
        "dbase": "{{REDIS_DB}}",
        "pass": ""
    }
]